.container {
  display: flex;
  flex-direction: row;
 width: 100%;
background-color: royalblue;
}

.container .div1 {
  width: 50%;
  height: 150px;
  margin: 10px;
  background-color: red;

}
.container .div2 {
  width: 50%;
  height: 150px;
  margin: 10px;
  background-color: red;
 
}
